.container {
  width: 710px;
}

body {
  background: #CCCCCC;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

section h3 {
   font-size: 150%;
  margin: 0;
  padding: 0;
}

div.field, div.actions {
  margin-bottom: 10px;
}





/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}




/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}




/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/*Article*/

h1.article {
  margin-bottom: 0.3em;
}

table.articles {
  margin-top: 1em;
}

table.articles tr {
  height: 90px;
}


table.articles tr td.article {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.articles tr td.article span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
  margin-top: 3em;
  margin-bottom: 1em;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.articles {
  font-size: 80%;
}

form.new_article {
  margin-bottom: 2em;
}

form.new_article textarea {
  width: 660px;
  height: 250px;
  margin-bottom: 0;
}

