<h1>Articles</h1>

<% unless @user.articles.empty? %>
        <table class="articles" summary="User articles">
          <%= render @articles %>
        </table>
        <%= will_paginate @articles %>
<% end %>